{% extends 'security/base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <h4>Please register</h4>
    
    {% for flash_error in app.flashes('verify_email_error') %}
        <p>
            <div class="alert alert-danger" role="alert">
                {{ flash_error }}
            </div>
        </p>
    {% endfor %}

    {% if form_errors(registrationForm) %}
        <p>
            <div class="alert alert-danger" role="alert">
                {{ form_errors(registrationForm) }}
            </div>
        </p>
    {% endif %}

    <p>
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.firstName) }}
            {{ form_row(registrationForm.lastName) }}
            {{ form_row(registrationForm.emailAddress) }}

            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}

            {{ form_row(registrationForm.agreeTerms, {
                label: 'Agree to our terms'
            }) }}

            <button type="submit" class="btn btn-primary">Register</button>
            or <a href="{{ path("app_login") }}">Sign in here</a>

        {{ form_end(registrationForm) }}
    </p>
{% endblock %}