{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block sidebar %}{% endblock %}
{% block header %}{% endblock %}

{% block body %}
    <div class="card" style="width: 50rem;">
        <div class="container-fluid">
            <div class="d-flex">
                <img class="logo me-2" src="/img/logo.png">
                <h2>Godot - Register</h2>
            </div>
        </div>

        <p>
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
        </p>
    
        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.firstName) }}
            {{ form_row(registrationForm.lastName) }}
            {{ form_row(registrationForm.emailAddress) }}
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}

            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn btn-primary">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
