{{ form_start(form, {'action': action}) }}

    <style>
        textarea { height: 600px; }
    </style>

    <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" data-bs-dismiss="modal" class="btn-close" aria-label="Close"></button>
    </div>

    <div class="modal-body">
        {{ form_widget(form.content) }}
    </div>

    <div class="modal-footer d-flex justify-content-between">
        <div>
            <h2><i id="syncState" class="text-success bi bi-cloud-check"></i></h2>
        </div>
        <div>
            <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Close</button>
            <button type="button" onclick="location.href='{{ path("app_note_delete", { "id": note.id }) }}';" class="btn btn-danger">Delete</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </div>

{{ form_end(form) }}

<script>
    
    autoFocusAndGoToEnd("base-modal-quick-note", "shown.bs.modal" ,"note_content");
    initAutoSave(document.getElementById("note_content").closest("form"), document.getElementById("syncState"));

</script>
