<div class="row">
    <div class="col">
        Add to action - Duplicate - Delete - ...
    </div>
</div>
<div class="row">
    <div class="col">
        {{ note.content | nl2br }}
    </div>
    <div class="col">
        {{ note.createdAt ? note.createdAt|date('Y-m-d H:i:s') : '' }}<br />
        {{ note.updatedAt ? note.updatedAt|date('Y-m-d H:i:s') : '' }}
    </div>
</div>

<a href="{{ path('app_note_index') }}">back to list</a>

<a href="{{ path('app_note_edit', {'id': note.id}) }}">edit</a>