<h1>Note</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ note.id }}</td>
        </tr>
        <tr>
            <th>Content</th>
            <td>{{ note.content | nl2br }}</td>
        </tr>
        <tr>
            <th>CreatedAt</th>
            <td>{{ note.createdAt ? note.createdAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>UpdateAt</th>
            <td>{{ note.updatedAt ? note.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>DeletedAt</th>
            <td>{{ note.deletedAt ? note.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>ProcessedAt</th>
            <td>{{ note.processedAt ? note.processedAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
    </tbody>
</table>

<a href="{{ path('app_note_index') }}">back to list</a>

<a href="{{ path('app_note_edit', {'id': note.id}) }}">edit</a>